BOT_TOKEN=8534489544:AAG8u8e22l50paSQQz04ufX3MIgJPJnStcI
HEADLESS=true
ADMIN_ID=1336290590

# Proxy Settings (Optional - Required for Server)
# Set USE_PROXY=false to globally disable proxies for all bot tasks
USE_PROXY=true
PROXIES_FILE=proxies.txt
WEBSHARE_API_KEY=i0csmeysod4cvelpgd4ptne10myaac95ck6ugev1
# PROXY_LIST is a comma-separated list of proxies (http://user:pass@host:port)
PROXY_LIST=http://user:pass@host:port,http://user:pass@host2:port2
PROXY_URL=http://your_proxy_ip:port
PROXY_USERNAME=lmtbhodz
PROXY_PASSWORD=hnayz6elm61v
