BOT_TOKEN=your_token_here
HEADLESS=true
ADMIN_ID=your_telegram_id_here

# Proxy Settings (Optional - Required for Server)
PROXY_URL=http://your_proxy_ip:port
PROXY_LIST=http://ip1:port,http://ip2:port,http://ip3:port
PROXY_USERNAME=your_username
PROXY_PASSWORD=your_password


PROXY_LIST=http://31.59.20.176:6754,
